name: Azure ML Manual Trigger Deploy Pipeline

on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Log in with Azure
        uses: azure/login@v1
        with:
          creds: '${{secrets.AZURE_CREDENTIALS}}'
      - name: Install ML extension for az command
        run: az extension add --name ml --version 2.4.1
      - name: Trigger Azure Machine Learning Pipeline Job
        run: az ml online-deployment create --file 03_managed_deployment.yml --resource-group ${{ secrets.AZURE_RESOURCE_GROUP_NAME }} --workspace-name ${{ secrets.AZURE_ML_WORKSPACE_NAME }} --all-traffic
