name: Azure ML Manual Trigger Pipeline

on:
 workflow_dispatch:
   inputs:
     my_hello_input:
       description: 'hello input'
       required: true
       default: 'this is a default hello input'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Azure Machine Learning Pipeline Job
        run: |
          echo "aaaa" 
          echo "hello, ${{ github.event.inputs.my_hello_input }}"
          cat << eos > 03_managed_deployment.yml
          $schema: https://azuremlschemas.azureedge.net/latest/managedOnlineDeployment.schema.json
          name: blue
          endpoint_name: ${{ github.event.inputs.my_hello_input }}
          model: azureml:diabetes_model_oh4ml@latest
          code_configuration:
            code: ./scripts
            scoring_script: score.py
          environment: 
            conda_file: ./environments/03_conda_env.yml
            image: mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04
          instance_type: Standard_DS2_v2
          instance_count: 1
          eos
          cat 03_managed_deployment.yml
