name: Azure ML Manual Trigger Pipeline

on:
 workflow_dispatch:
 
 repository_dispatch:
   types: [deploy_pipeline_action]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Azure Machine Learning Pipeline Job
        run: |
          cat << EOS > 03_managed_deployment.yml
          \$schema: https://azuremlschemas.azureedge.net/latest/managedOnlineDeployment.schema.json
          name: blue
          endpoint_name: endpoint1
          model: azureml:${{github.event.client_payload.model_name}}:${{github.event.client_payload.model_version}}
          code_configuration:
            code: ./scripts
            scoring_script: score.py
          environment: 
            conda_file: ./environments/03_conda_env.yml
            image: mcr.microsoft.com/azureml/openmpi3.1.2-ubuntu18.04
          instance_type: Standard_DS2_v2
          instance_count: 1
          EOS
          cat 03_managed_deployment.yml
