name: Azure ML Manual Trigger Pipeline

on:
 workflow_dispatch:
   inputs:
     my_hello_input:
       description: 'hello input'
       required: true
       default: 'this is a default hello input'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Azure Machine Learning Pipeline Job
        run: |
          echo "aaaa" 
          echo "hello, ${{ github.event.inputs.my_hello_input }}"
