name: variable test

on:
 push:
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: test job
        run: |
          cat << EOS > argtest.py          
          import argparse
          parser = argparse.ArgumentParser()
          parser.add_argument('--g')
          parser.add_argument('--w')
          args = parser.parse_args()

          print('g='+args.g)
          print('w='+args.w)
          EOS
          python argtest.py --g ${{ github.workflow }} --w ttttt
          echo "end"
